{% extends "base.html" %}
{% block title %}
	Change password for {{ user.username }}
{% endblock title %}

{% block search_form %}{% endblock search_form %}

{% block breadcrumb %}
	<li>
		<a href="{% url 'blog:author_profile' user.pk %}">
			<span class="icon is-small">
				<i class="fas fa-user" aria-hidden="true"></i>
			</span>
			User
		</a>
	</li>
	<li>
		<a href="{% url 'accounts:settings' %}">
			<span class="icon is-small">
				<i class="fas fa-user-cog" aria-hidden="true"></i>
			</span>
			Settings
		</a>
	</li>
	<li>
		<a href="{% url 'accounts:password_change' %}">
			<span class="icon is-small">
				<i class="fas fa-lock" aria-hidden="true"></i>
			</span>
			Change password
		</a>
	</li>
	<li class="is-active">
		<span class="icon is-small">
			<i class="fas fa-check" aria-hidden="true"></i>
		</span>
		Success
	</li>
{% endblock breadcrumb %}

{% block content %}
	<div class="columns is-centered">
		<div class="column notification is-6-desktop is-4-widescreen is-full-mobile is-success has-text-centered">
			<p>Your password has been successfully changed.</p>
			<a href="{% url 'blog:author_profile' user.pk %}" class="has-text-link-light">Back to profile.</a>
		</div>
	</div>
{% endblock content %}