{% extends "base.html" %}
{% load form_tags %}

{% block title %}
	Change password for {{ user.username }}
{% endblock title %}

{% block breadcrumb %}
	<li>
		<a href="{% url 'blog:author_profile' user.pk %}">
			<span class="icon is-small">
				<i class="fas fa-user" aria-hidden="true"></i>
			</span>
			User
		</a>
	</li>
	<li>
		<a href="{% url 'accounts:settings' %}">
			<span class="icon is-small">
				<i class="fas fa-user-cog" aria-hidden="true"></i>
			</span>
			Settings
		</a>
	</li>
	<li class="is-active">
		<span class="icon is-small">
			<i class="fas fa-lock" aria-hidden="true"></i>
		</span>
		Change password
	</li>
{% endblock breadcrumb %}

{% block content %}
	<div class="columns">
		<div class="column is-full-mobile is-one-third-desktop">
			<form method="post" novalidate>
				{% csrf_token %}
				{% if form.non_field_errors %}
					<div class="notification is-danger">
						{% for error in form.non_field_errors %}
							<p>{{ error}}</li>
						{% endfor %}
					</div>
				{% endif %}
				{% render_field_with_icon form.old_password "fas fa-lock" margin_bottom='mb-3' %}
				{% render_field_with_icon form.new_password1 "fas fa-star-of-life" margin_bottom='mb-3' %}
				{% render_field_with_icon form.new_password2 "fas fa-star-of-life" margin_bottom='mb-3' %}
				<div class="buttons">
					<button type="submit" class="button is-success is-block">Change</button>
					<a href="{% url 'accounts:settings' %}" class="button is-danger">Cancel</a>
				</div>
			</form>
		</div>
	</div>
{% endblock content %}