html, body {
	height: 100%;
}

button[type=submit].button.is-info {
	border-top-right-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
}

div.breadcrumb ul li a {
	color: hsl(210, 80%, 60%) !important;
}

div.breadcrumb ul li.is-active {
	color: hsl(0, 0%, 50%) !important;
}

figure.thumbnail {
	background-position: center;
	background-size: cover;
}

.has-text-brown {
    color: hsl(0, 27%, 56%) !important;
}

.columns.center-v {
	height: 100%;
	align-items: center;
}

.profile-picture {
	border-radius: 50%;
}