@media screen and (max-width: 769px) {
	div.is-full-mobile {
		margin-left: 0 !important;
		margin-right: 1% !important;
	}
}

@media screen and (min-width: 770px) {
	div.is-full-mobile {
		margin-left: 5% !important;
		margin-right: 7% !important;
	}
}

.body {
	font-size: 1.2em;
	font-family: 'Arial';
	line-height: 1.8em;

	color: hsl(0, 0%, 35%);
}