@media screen and (max-width: 769px) {
	small.hide-text {
		display: block;
		line-height: 1em;
		max-height: 4em;
		overflow: hidden; 
		text-overflow: ellipsis;
	}
}

@media screen and (min-width: 770px) {
	small.hide-text {
		display: block;
		line-height: 1.5em;
		max-height: 4.5em;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}