{% extends "accounts/base.html" %}
{% load widget_tweaks form_tags inclusion_tags %}

{% block title %}
	Log in
{% endblock title %}

{% block content %}
	<form method="post" novalidate>
		{% csrf_token %}
		{% include "includes/form_errors.html" %}
		{% render_field_with_icon form.username 'fas fa-user' label=False margin_bottom="" %}
		{% render_field_with_icon form.password 'fas fa-lock' label=False margin_bottom="" %}
		<hr>
		<button type="submit" class="button is-fullwidth is-info is-full mt-4">LOG IN</button>
	</form>
	<small class="column is-fullwidth has-text-centered has-text-grey py-3">
		New to MyBlog?
		<a href="{% url 'accounts:signup' %}">Sign up</a>.
	</small>
{% endblock content %}