{% extends "accounts/base.html" %}
{% load widget_tweaks form_tags inclusion_tags %}

{% block title %}
	Log in
{% endblock title %}

{% block left %}
	
{% endblock left %}

{% block content_right %}
	<form method="post" novalidate>
		{% csrf_token %}
		<input type="hidden" name='next' value="{{ next }}">
		{% include "includes/form_errors.html" %}
		{% render_field_with_icon form.username 'fas fa-user' label=False margin_bottom="" %}
		{% render_field_with_icon form.password 'fas fa-lock' label=False margin_bottom="" %}
		<hr>
		<button type="submit" class="button is-fullwidth is-info is-full mt-4">LOG IN</button>
	</form>
	<small class="column is-fullwidth has-text-centered has-text-grey mt-2 py-0">
		New to MyBlog?
		<a href="{% url 'accounts:signup' %}">Sign up</a>.
	</small>
	<small class="column is-fullwidth has-text-centered py-0">
		<a href="{% url 'accounts:password_reset' %}" class="has-text-grey">
			I forgot my password
		</a>
	</small>
{% endblock content_right %}