{% extends "base.html" %}
{% load form_tags %}

{% block title %}
	User settings
{% endblock title %}

{% block search_form %}{% endblock search_form %}

{% block breadcrumb %}
	<li>
		<a href="{% url 'blog:author_profile' user.pk %}">
			<span class="icon is-small">
				<i class="fas fa-user" aria-hidden="true"></i>
			</span>
			User
		</a>
	</li>
	<li class="is-active">
		<span class="icon is-small">
			<i class="fas fa-user-cog" aria-hidden="true"></i>
		</span>
		Settings
	</li>
{% endblock breadcrumb %}

{% block content %}
	<div class="columns">
		<div class="column is-full-mobile is-one-third-desktop">
			<form method="post" novalidate>
				{% csrf_token %}
				{% if form.non_field_errors %}
					<div class="notification is-danger">
						{% for error in form.non_field_errors %}
							<p>{{ error}}</li>
						{% endfor %}
					</div>
				{% endif %}
				{% render_field_with_icon form.first_name "fas fa-signature" %}
				{% render_field_with_icon form.last_name "fas fa-star-of-life" %}
				{% render_field_with_icon form.email "fas fa-envelope" %}
				<div class="buttons">
					<button type="submit" class="button is-success is-block">Save changes</button>
					<a href="{% url 'accounts:password_change' %}" class="button is-warning">Change password</a>
				</div>
			</form>
		</div>
	</div>
{% endblock content %}