{% extends "accounts/base.html" %}
{% load widget_tweaks form_tags %}

{% block title %}
	Sign up
{% endblock title %}

{% block content %}
	<form method="post" novalidate>
		{% csrf_token %}
		{% include "includes/form_errors.html" %}
		<div class="field -is-horizontal">
			<div class="field-body">
				{% render_field_with_icon form.first_name 'fas fa-signature' label=False margin_bottom="" %}
				<div class="field">
					{% render_field form.last_name class=form.last_name|input_class placeholder="Last name" %}
					{% field_errors form.last_name %}
				</div>
			</div>
		</div>
		{% render_field_with_icon form.username 'fas fa-user' label=False margin_bottom="mb-3" %}
		{% render_field_with_icon form.email 'fas fa-envelope' label=False margin_bottom="mb-3" %}
		<div class="field -is-horizontal">
			<div class="field-body">
				{% render_field_with_icon form.password1 'fas fa-lock' label=False margin_bottom="" %}
				<div class="field">
					{% render_field form.password2 class=form.password2|input_class placeholder="Password confirmation" %}
					{% field_errors form.password2 %}
				</div>
			</div>
		</div>	
		<hr>
		<button type="submit" class="button is-fullwidth is-info is-full mt-4">SIGN UP</button>
	</form>
	<small class="column is-fullwidth has-text-centered has-text-grey py-3">
		Already have an account?
		<a href="{% url 'accounts:login' %}">Log in</a>.
	</small>
{% endblock content %}