{% extends "base.html" %}

{% block title %}
	MyBlog - Home
{% endblock title %}

{% block content %}
	<p class="mb-5 subtitle is-4">Latest posts:</p>
	<div class="columns">
		{% include "blog/includes/article_card.html" with article=latest_articles.0 size="is-half" %}
		<div class="columns column is-multiline py-5">
			{% for article in latest_articles|slice:"1:4" %}
				{% include "blog/includes/article_row_small.html" with article=article %}
			{% endfor %}
		</div>
	</div>
	<div class="columns is-multiline mt-3">
		{% for article in latest_articles|slice:"4:" %}
			{% include "blog/includes/article_card.html" with article=article size="is-one-quarter" %}
		{% endfor %}
	</div>
	<p class="mb-5 mt-2 subtitle is-4">Popular articles:</p>
	<div class="columns is-multiline">
		{% for article in popular_articles %}
			{% include "blog/includes/article_card.html" with article=article size="is-one-quarter" %}
		{% endfor %}
	</div>
{% endblock content %}