{% extends "base.html" %}
{% load static widget_tweaks form_tags inclusion_tags %}

{% block title %}
	Create an article
{% endblock title %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock stylesheets %}

{% block breadcrumb %}
	<li>
		<a href="{% url 'blog:home' %}">
			<span class="icon is-small">
				<i class="fas fa-home" aria-hidden="true"></i>
			</span>
			Home
		</a>
	</li>
	<li class="is-active">
		<span class="icon is-small">
			<i class="fas fa-pen-nib" aria-hidden="true"></i>
		</span>
		Create an article
	</li>
{% endblock breadcrumb %}

{% block content %}
	<div class="columns is-centered">
		<div class="column is-three-quarters">
			<form method="post" novalidate enctype="multipart/form-data">
				{% csrf_token %}
				{% render_field_with_icon form.title 'fas fa-heading' placeholder='My first article' %}
				<div class="field mb-4">
					<label class="label">{{ form.thumbnail.label_tag }}</label>
					{% render_field form.thumbnail %}
					<p class="help">{{ form.thumbnail.help_text }}</p>
					{% field_errors form.thumbnail %}
				</div>
				<div class="field mb-4">
					<label class="label">{{ form.body.label_tag }}</label>
					{% render_field form.body class=form.body|input_class placeholder="Welcome to my article..." %}
					<p class="help mt-0 pt-0">{{ form.body.help_text }}</p>
					{% field_errors form.body %}
				</div>
				<div class="field mb-4 categories">
					<label class="label">{{ form.categories.label_tag }}</label>
					<div class="columns is-multiline py-2 pl-3" id="id_categories">
						{% for category in form.categories %}
							<div class="column is-one-fifth py-1">
								<label for="id_categories">
									{{ category.tag }} {{ category.choice_label }}
								</label>
							</div>
						{% endfor %}
					</div>
					{% field_errors form.categories %}
				</div>
				<div class="columns mt-5">
					<div class="column">
						<button type="submit" class="button is-primary is-fullwidth">Create</button>
					</div>
					<div class="column">
						<a href="{% url 'blog:home' %}" class="button is-link is-fullwidth">Cancel</a>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock content %}

{% block javascript %}
	<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
	<script>
		var simplemde = new SimpleMDE();
	</script>
{% endblock javascript %}