{% extends "base.html" %}
{% load widget_tweaks form_tags inclusion_tags %}

{% block title %}
	Create an article
{% endblock title %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">	
{% endblock stylesheets %}

{% block breadcrumb %}
	<li>
		<a href="{% url 'blog:home' %}">
			<span class="icon is-small">
				<i class="fas fa-home" aria-hidden="true"></i>
			</span>
			Home
		</a>
	</li>
	<li class="is-active">
		<span class="icon is-small">
			<i class="fas fa-plus" aria-hidden="true"></i>
		</span>
		Create an article
	</li>
{% endblock breadcrumb %}

{% block content %}
	<div class="columns is-centered">
		<div class="column is-three-quarters">
			<form method="post" novalidate enctype="multipart/form-data">
				{% csrf_token %}
				<div class="field mb-4">
					<label class="label">{{ form.title.label_tag }}</label>
					<p class="control has-icons-left">
						{% render_field form.title class=form.title|input_class placeholder="My first article!" %}
						<span class="icon is-small is-left">
							<i class="fas fa-heading"></i>
						</span>
					</p>
					{% field_errors form.title %}
				</div>
				<div class="field mb-4">
					<label class="label">{{ form.thumbnail.label_tag }}</label>
					{% render_field form.thumbnail %}
					{% field_errors form.thumbnail %}
				</div>
				<div class="field mb-4">
					<label class="label">{{ form.body.label_tag }}</label>
					<div class="control">
						{% render_field form.body class=form.body|input_class placeholder="Welcome to my article..." %}
					</div>
					{% field_errors form.body %}
				</div>
				<div class="field mb-4">
					<label class="label">{{ form.category.label_tag }}</label>
					<p class="control has-icons-left">
						<span class="select">
							{% render_field form.category class=form.category|input_class %}
						</span>
						<span class="icon is-small is-left">
							<i class="fas fa-hashtag"></i>
						</span>
					</p>
					{% field_errors form.body %}
				</div>
				<div class="columns mt-5">
					<div class="column">
						<button type="submit" class="button is-primary is-fullwidth">Create</button>
					</div>
					<div class="column">
						<a href="{% url 'blog:home' %}" class="button is-link is-fullwidth">Cancel</a>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock content %}

{% block javascript %}
	<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
	<script>
		var simplemde = new SimpleMDE();
	</script>
{% endblock javascript %}