{% extends "base.html" %}
{% load static inclusion_tags %}

{% block stylesheets %}
	<link rel="stylesheet" href="{% static "css/user_profile.css" %}">
{% endblock stylesheets %}

{% block title %}
	{{ author.username }}'s profile
{% endblock title %}

{% block breadcrumb %}
	{% if author == user %}
		<li>
			<span class="icon is-small">
				<i class="fas fa-user" aria-hidden="true"></i>
			</span>
			User
		</li>
	{% else %}
		<li>
			<a href="{% url 'blog:home' %}">
				<span class="icon is-small">
					<i class="fas fa-home" aria-hidden="true"></i>
				</span>
				Home
			</a>
		</li>
		<li>
			<a href="#">
				<span class="icon is-small">
					<i class="fas fa-user-edit" aria-hidden="true"></i>
				</span>
				Authors
			</a>
		</li>
		<li class="is-active">
			<span class="icon is-small">
				<i class="fas fa-user" aria-hidden="true"></i>
			</span>
			{{ author.username }}'s profile
		</li>
	{% endif %}
{% endblock breadcrumb %}

{% block content %}
	<div class="columns">
		<div class="column is-one-fifth is-full-mobile">
			<div class="box px-5 mb-1">
				<figure class="image thumbnail is-1by1 profile-picture has-background-link-light mx-0" style="background-image: url({{ author.profile.profile_picture.url }});">
				</figure>
				<div class="info mt-3">
					<p class="title-6">{{ author.profile.get_full_name }}</p>
					<small class="has-text-grey">@{{ author.username }}</small>
					<hr class="my-2">
					<small>{{ author.profile.about }}</small>
					<hr class="my-2">
				</div>
				<div class="icons">
					{% social_icons author %}
				</div>
			</div>
			{% if author == user %}
				<p class="tags has-addons is-centered mt-2 mb-0">
					{% follow_tag_button author disabled=True %}
					<span class="tag is-link is-light">
						{{ author.followers.count }}
					</span>
				</p>
				<small class="has-text-centered is-block">
					<a href="{% url 'accounts:edit_profile' %}" class="has-text-grey">edit profile</a>
				</small>
			{% else %}
				{% if user.is_authenticated %}
					<div class="columns is-centered pt-2">
						<div class="column">
							<p class="tags has-addons is-centered">
								{% follow_tag_button author user %}
								<span class="tag is-link is-light">
									{{ author.followers.count }}
								</span>
							</p>
						</div>
					</div>
				{% else %}
					<p class="tags has-addons is-centered mt-2 mb-0">
						{% follow_tag_button author disabled=True %}
						<span class="tag is-link is-light">
							{{ author.followers.count }}
						</span>
					</p>
				{% endif %}
			{% endif %}
		</div>
		<div class="is-hidden-desktop">
			<hr>
			<p class="title is-4 ml-4">Articles:</p>
		</div>
		<div class="column pt-5 ml-3">
			<div class="columns is-mobile is-multiline is-centered" >
				{% for article in author.profile.get_ordered_posts %}
					{% include "blog/includes/article_row.html" %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock content %}