{% extends "accounts/base.html" %}
{% load form_tags %}

{% block title %}
	Reset your password
{% endblock title %}

{% block right %}{% endblock right %}

{% block content_left %}
	<p class="title is-5 has-text-grey">Reset your password</p>
	<form method="POST" novalidate>
		{% csrf_token %}
		{% render_field_with_icon form.email 'fas fa-envelope' label=False margin_bottom="mb-4" %}
		<button type="submit" class="button is-info is-fullwidth">Send email</button>
	</form>
	<small class="has-text-grey is-block has-text-centered mt-2">
		Back to 
		<a href="{% url 'accounts:login' %}">login page</a>.
	</small>
{% endblock content_left %}