{% extends "accounts/base.html" %}
{% load form_tags %}

{% block title %}
	Reset your password
{% endblock title %}

{% block right %}{% endblock right %}

{% block content_left %}
	<p class="title is-5 has-text-grey">Reset your password</p>
	{% if validlink %}
		<form method="post" novalidate>
			{% csrf_token %}
			{% render_field_with_icon form.new_password1 'fas fa-lock' label=False help_text=False %}
			{% render_field_with_icon form.new_password2 'fas fa-star-of-life' label=False help_text=False %}
			<button type="submit" class="button is-fullwidth is-info is-full mt-4">Reset password</button>
		</form>
	{% else %}
		<p class="notification is-danger mb-2">
			Looks like you clicked on an invalid password reset link. Please try again.
		</p>
		<a href="{% url 'accounts:password_reset' %}" class="is-block has-text-centered has-text-grey">Request a new link</a>
	{% endif %}
{% endblock content_left %}