{% extends "accounts/base.html" %}
{% load form_tags %}

{% block title %}
	Password changed
{% endblock title %}

{% block right %}{% endblock right %}

{% block content_left %}
	<p class="title is-5 has-text-grey">Password changed</p>
	<p class="notification is-success mb-2">
		Your password has been changed successfully.
		<br>
		You many now proceed to log in.
	</p>
	<a href="{% url 'accounts:login' %}" class="is-block has-text-centered has-text-grey">Go to login page</a>
{% endblock content_left %}